.color{


    background: rgb(249, 247, 243);

}
.nav-items{
    display: flex;
    align-items: center; 
    gap: 5px;
    
    width: 87%;
    margin: auto;
    justify-content: space-between;
    padding: 10px 0 40px 0;
}
.navabar{

gap: 30px;
position: sticky;

}
.bottom-button-navbar{

    display: flex;
    gap: 20px;

    width: fit-content;
    margin: auto;
}
.bottom-button-navbar button{
    width: 120px;
    border-radius: 8px;

border: 1px solid rgba(0, 0, 0, 0.46);
    padding: 10px 20px;
}

.bottom-button-navbar button.inactive:hover{
    background-color: rgba(128, 128, 128, 0.229);
}
.bottom-button-navbar button.active:hover{
    opacity: 0.8;
}

.transparent {
    background-color: transparent;
}
.cards{
    width: 87%;
    margin: auto;
}

.border{

    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    gap: 20px;
    cursor: pointer;
}
.modal1{
    border: 1px solid rgba(0, 0, 0, 0.437);
}

.modal1:focus{
    outline: none;
}
.border h2{
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-img{

width: 40%;

}
.border p{
    margin-bottom: 20px;
}
.border input{
    border: 1px solid rgba(0, 0, 0, 0.338);
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.border input:focus{

outline: none;

}
.border button{
    background-color: rgb(180, 244, 97);
    width: 100%;
    border-radius: 8px;
    padding: 10px;
}
.amount{
    background: rgb(247, 244, 237);
    padding: 8px 25px 8px 15px;
    width: fit-content;
    border-radius: 8px;
    justify-content: center;
    align-items: center;

    
}
.amount img{
    margin-right:5px ;
}
.cards{
    margin-bottom: 50px;
}

.accordion-col{

    margin-bottom: 15px;
    padding: 25px 5px;
    min-height: 100px;
}

@media (max-width: 576px) {
    .navabar {
        gap: 6px;
        padding: 10px;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-items button {
        width: 100%;
        margin-bottom: 10px;
    }

    .color {
        flex-direction: column;
        align-items: center;
    }

    .navabar{
        background: rgb(249, 247, 243);
        gap: 5px;
        position: static;
    }
    
    .nav-items{
        padding-bottom: 5px;
    }

    .cards {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }

    .cards .border {
        width: 100%;
        margin-bottom: 20px;
    }
    .border{
        flex-direction: column;
        justify-content: center;
    }
    .border>img{
        width: 500px;
    }

    .border-child {
        padding: 10px;
    }

    .border-child input {
        width: 100%;
        margin-bottom: 10px;
    }
}
